*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-classs{
  background: rgba(35, 35, 35, 0.85);
  height: 100vh;
  display: flex;
  justify-content: center;
}
#container{
  padding: 90px 9% 0; 
  width: 350px;
  background: #fff;
  height: 90vh;
  border-radius: 12px;
}
h2{
  text-align: center;
  margin-bottom: 20px;
}
label{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
#nutt{
  width: 100%;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background: linear-gradient(0deg,rgba(0,0,0,0.1) 0% rggba(30,30,30,1) 100%); 
  font-weight: bold;
  animation: border-colors 5s linear-infinite;
}
#nutt:hover{
  background-color: linear-gradient(0deg, rgba(255, 230, 120, 1) 0%, rgba(255, 200, 0, 1) 100%);  font-weight: bold;
  color: white;
}
@keyframes border-colors{
  0%{
    border-color: #fff;
  }
  50%{
    border-color: #333;
  }
  75%{
    border-color: #555;
  }
  100%{
    border-color: #fff;
  }
}
svg{
  margin-left: 120px;
}
.svg-image{
  width: 115px;
  height: 115px;
  margin-left: 80px;
  border-radius: 50%;
  background-color: rgba(255,235, 205, 0.1);
}
.image-srh{
  margin-left: -115px;
  width: 120px;
  height: 120px;
}
@media(max-width:768px){
 #container{
   width: 100%;
 } 
  .body-classs{
    padding: 50px 4% 0;
  }
  .image-srh{
    width: 60%;
    height: 60%;
  }
  .svg-image{
    margin-left: 80px;
  }
}